# KUIS 2 Pembelajaran Mesin

## Tentang dataset

Pada sebuah lembaga kemanusiaan berbasis teknologi informasi, dibentuk beberapa tim kemanusiaan yang bertugas untuk terjun ke masyarakat memberikan bantuan dalam bentuk aplikasi komputer atau layanan pelatihan IT.  Kegiatn tersebut dilaksanakan setiap tahun dengan ketentuan anggota organisasi tersebut dapat bergabung ke beberapa tim sebagai ketua atau anggota. Terdapat pula anggota yang sudah tidak aktif di organisasi tersebut (terhapus di database mereka â€”> label N/A).  Organisasi tersebut juga melakukan rekrutmen volunteer, namun tidak semua tim menggunakan bantuan volunteer. Hasil kegiatan dari setiap tim dapat diwujudkan ke dalam sebuah pengakuan hak cipta atau publikasi karya ilmiah atau publikasi berita di media massa.

## Ketentuan
1. Pengerjaan secara individu alias setiap mahasiswa!
2. Terdapat data dengan nilai #N/A, pertimbangkan cara terbaik untuk mengatasi nilai tersebut.
3. Tidak boleh ada duplikasi pekerjaan antar mahasiswa
4. Berikan penjelasan untuk setiap tahapan. Jangan hanya kode!

## Soal
1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)
2. Tentukan data validasi! (10 poin)
3. Tentukan secara tepat kolom yang menjadi "label" (20 poin)
4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)
5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

In [27]:
import pandas as pd

df = pd.read_excel('data/dataset_quiz.xlsx')

df.head(100)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,NaN,NaN,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,NaN,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

In [28]:
df.describe

<bound method NDFrame.describe of     id_ketua  id_anggota1  id_anggota2  id_anggota3  id_anggota4  id_anggota5  \
0     7206.0       7214.0       6211.0       8602.0       7801.0          NaN
1     7214.0       7109.0       8402.0       7903.0       9202.0          NaN
2     5911.0       8201.0       8701.0       9101.0       9003.0          NaN
3     8402.0       7702.0       8602.0       8903.0       8903.0          NaN
4     8201.0       8305.0       5911.0       5903.0       8402.0          NaN
..       ...          ...          ...          ...          ...          ...
80    8803.0       8804.0       9102.0       8005.0       9303.0          NaN
81    6211.0       8901.0       9003.0       9303.0       9007.0          NaN
82    8601.0       8903.0       8703.0          NaN          NaN          NaN
83    8703.0       8601.0       9202.0       9102.0       6204.0          NaN
84    8102.0       7109.0       5903.0       7206.0       8903.0          NaN

   keterlibatan_vltr  jml_vltr_terlibat  tahun    skema luaran_hki  \
0              TIDAK                  0   2019  REGULER  TIDAK ADA
1              TIDAK                  0   2019  REGULER  TIDAK ADA
2              TIDAK                  0   2019  REGULER  TIDAK ADA
3              TIDAK                  0   2019  REGULER  TIDAK ADA
4              TIDAK                  0   2019  REGULER  TIDAK ADA
..               ...                ...    ...      ...        ...
80                YA                  3   2022  REGULER  TIDAK ADA
81                YA                  3   2022  REGULER  TIDAK ADA
82                YA                  3   2022  REGULER  TIDAK ADA
83                YA                  3   2022  REGULER  TIDAK ADA
84             TIDAK                  0   2022  REGULER  TIDAK ADA

   jenis_luaran_hki potensi_hki luaran_lain jenis_luaran_lain  \
0         TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
1         TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
2         TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
3         TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
4         TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
..              ...         ...         ...               ...
80        TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
81        TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
82        TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
83        TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
84        TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA

   status_luaran_lain
0           TIDAK ADA
1           TIDAK ADA
2           TIDAK ADA
3           TIDAK ADA
4           TIDAK ADA
..                ...
80          TIDAK ADA
81          TIDAK ADA
82          TIDAK ADA
83          TIDAK ADA
84          TIDAK ADA

[85 rows x 16 columns]>

In [29]:
df.info

<bound method DataFrame.info of     id_ketua  id_anggota1  id_anggota2  id_anggota3  id_anggota4  id_anggota5  \
0     7206.0       7214.0       6211.0       8602.0       7801.0          NaN
1     7214.0       7109.0       8402.0       7903.0       9202.0          NaN
2     5911.0       8201.0       8701.0       9101.0       9003.0          NaN
3     8402.0       7702.0       8602.0       8903.0       8903.0          NaN
4     8201.0       8305.0       5911.0       5903.0       8402.0          NaN
..       ...          ...          ...          ...          ...          ...
80    8803.0       8804.0       9102.0       8005.0       9303.0          NaN
81    6211.0       8901.0       9003.0       9303.0       9007.0          NaN
82    8601.0       8903.0       8703.0          NaN          NaN          NaN
83    8703.0       8601.0       9202.0       9102.0       6204.0          NaN
84    8102.0       7109.0       5903.0       7206.0       8903.0          NaN

   keterlibatan_vltr  jml_vltr_terlibat  tahun    skema luaran_hki  \
0              TIDAK                  0   2019  REGULER  TIDAK ADA
1              TIDAK                  0   2019  REGULER  TIDAK ADA
2              TIDAK                  0   2019  REGULER  TIDAK ADA
3              TIDAK                  0   2019  REGULER  TIDAK ADA
4              TIDAK                  0   2019  REGULER  TIDAK ADA
..               ...                ...    ...      ...        ...
80                YA                  3   2022  REGULER  TIDAK ADA
81                YA                  3   2022  REGULER  TIDAK ADA
82                YA                  3   2022  REGULER  TIDAK ADA
83                YA                  3   2022  REGULER  TIDAK ADA
84             TIDAK                  0   2022  REGULER  TIDAK ADA

   jenis_luaran_hki potensi_hki luaran_lain jenis_luaran_lain  \
0         TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
1         TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
2         TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
3         TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
4         TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
..              ...         ...         ...               ...
80        TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
81        TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
82        TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
83        TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA
84        TIDAK ADA       TIDAK   TIDAK ADA         TIDAK ADA

   status_luaran_lain
0           TIDAK ADA
1           TIDAK ADA
2           TIDAK ADA
3           TIDAK ADA
4           TIDAK ADA
..                ...
80          TIDAK ADA
81          TIDAK ADA
82          TIDAK ADA
83          TIDAK ADA
84          TIDAK ADA

[85 rows x 16 columns]>

In [30]:
df.shape

(85, 16)

In [31]:
df.isna().sum()

id_ketua               3
id_anggota1            5
id_anggota2            4
id_anggota3            3
id_anggota4           13
id_anggota5           84
keterlibatan_vltr      0
jml_vltr_terlibat      0
tahun                  0
skema                  0
luaran_hki             0
jenis_luaran_hki       0
potensi_hki            0
luaran_lain            0
jenis_luaran_lain      0
status_luaran_lain     0
dtype: int64

In [32]:
#drop id_anggota5
df.drop('id_anggota5', axis=1, inplace=True)

In [33]:
# fill null column id_ketua
mean_idket=df['id_ketua'].mean()
df['id_ketua'].fillna(value=mean_idket, inplace=True)

# fill null column id_anggota1
mean_id1=df['id_anggota1'].mean()
df['id_anggota1'].fillna(value=mean_id1, inplace=True)

# fill null column id_anggota2
mean_id2=df['id_anggota2'].mean()
df['id_anggota2'].fillna(value=mean_id2, inplace=True)

# fill null column id_anggota3
mean_id3=df['id_anggota3'].mean()
df['id_anggota3'].fillna(value=mean_id3, inplace=True)

# fill null column id_anggota4
mean_id4=df['id_anggota4'].mean()
df['id_anggota4'].fillna(value=mean_id4, inplace=True)

In [34]:
df.isna().sum()

id_ketua              0
id_anggota1           0
id_anggota2           0
id_anggota3           0
id_anggota4           0
keterlibatan_vltr     0
jml_vltr_terlibat     0
tahun                 0
skema                 0
luaran_hki            0
jenis_luaran_hki      0
potensi_hki           0
luaran_lain           0
jenis_luaran_lain     0
status_luaran_lain    0
dtype: int64

In [35]:
df.head()

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

#### Preprocessing

##### Proses label encoding untuk data yang bersifat kategorial

In [36]:
from sklearn import preprocessing
encode = preprocessing.LabelEncoder()

df['keterlibatan_vltr'] = encode.fit_transform(df['keterlibatan_vltr'])
df['skema'] = encode.fit_transform(df['skema'])
df['luaran_hki'] = encode.fit_transform(df['luaran_hki'])
df['jenis_luaran_hki'] = encode.fit_transform(df['jenis_luaran_hki'])
df['potensi_hki'] = encode.fit_transform(df['potensi_hki'])
df['luaran_lain'] = encode.fit_transform(df['luaran_lain'])
df['jenis_luaran_lain'] = encode.fit_transform(df['jenis_luaran_lain'])
df['status_luaran_lain'] = encode.fit_transform(df['status_luaran_lain'])

In [37]:
df.head(100)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.00000,7801.000000,0,0,2019,1,1,1,2,0,3,1
1,7214.0,7109.0,8402.0,7903.00000,9202.000000,0,0,2019,1,1,1,2,0,3,1
2,5911.0,8201.0,8701.0,9101.00000,9003.000000,0,0,2019,1,1,1,2,0,3,1
3,8402.0,7702.0,8602.0,8903.00000,8903.000000,0,0,2019,1,1,1,2,0,3,1
4,8201.0,8305.0,5911.0,5903.00000,8402.000000,0,0,2019,1,1,1,2,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.00000,9303.000000,1,3,2022,1,1,1,2,0,3,1
81,6211.0,8901.0,9003.0,9303.00000,9007.000000,1,3,2022,1,1,1,2,0,3,1
82,8601.0,8903.0,8703.0,8419.04878,8572.388889,1,3,2022,1,1,1,2,0,3,1
83,8703.0,8601.0,9202.0,9102.00000,6204.000000,1,3,2022,1,1,1,2,0,3,1
84,8102.0,7109.0,5903.0,7206.00000,8903.000000,0,0,2022,1,1,1,2,0,3,1

In [39]:
# slicing data

X = df.drop(['keterlibatan_vltr'], axis= 1)
y = df['keterlibatan_vltr']

##### Data split (Training, Testing, Validation)

In [43]:
# divide data into train, val, and test

from sklearn.model_selection import train_test_split

X_main, X_test, y_main, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)
X_train, X_val, y_train, y_val = train_test_split(X_main, y_main, test_size=0.2, random_state=1, stratify=y_main)

#### Penerapan metode klasifikasi Decision Tree dan Support Vector Machine

##### Decision Tree

In [44]:

from sklearn.tree import DecisionTreeClassifier # import DT
from sklearn.metrics import accuracy_score

df = DecisionTreeClassifier()

# Sesuaikan dt ke set training
df.fit(X_train, y_train)

# Memprediksi label set test
y_pred_df = df.predict(X_test)

#  menghitung set accuracy
acc = accuracy_score(y_test, y_pred_df)
print("Test set accuracy: {:.2f}".format(acc))
print(f"Test set accuracy: {acc}")

Test set accuracy: 1.00
Test set accuracy: 1.0

##### Support Vector Machine

In [45]:
from sklearn.ensemble import RandomForestClassifier

rfm = RandomForestClassifier(n_estimators=10 , random_state=1)

# Sesuaikan dt ke set training
rfm.fit(X_train, y_train)

# Memprediksi label set test
y_pred_rfm = rfm.predict(X_test)

#  menghitung set accuracy
acc_rfm = accuracy_score(y_test, y_pred_rfm)
print("Test set accuracy: {:.2f}".format(acc_rfm))
print(f"Test set accuracy: {acc_rfm}")

Test set accuracy: 1.00
Test set accuracy: 1.0

#### Tunning Hyperparameter

##### Random Search DT

In [46]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import RepeatedKFold

rkf = RepeatedKFold(n_splits=4, n_repeats=3)
dt = DecisionTreeClassifier()
params = {
    'criterion': ['gini', 'entropy', 'log_loss'],
    'max_depth': list(range(5,11)) 
}
random = RandomizedSearchCV(dt, param_distributions=params, cv=rkf, n_jobs=-1)
%timeit random.fit(X, y)

# Evaluasi dengan score
score = random.score(X,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter: {random.best_params_}')

c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.9767316         nan 0.96879509 0.97655123 0.97258297 0.96879509
 0.98430736 0.97276335        nan 0.96879509]
  warnings.warn(
c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [       nan 0.94498557 0.96482684 0.96464646 0.94895382 0.93704906
 0.94498557 0.96446609        nan 0.94083694]
  warnings.warn(
c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [       nan 0.95689033        nan        nan 0.96085859 0.95256133
 0.95292208        nan 0.96049784 0.96049784]
  warnings.warn(
c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.9527417         nan 0.96843434        nan 0.95670996 0.9527417
 0.96067821 0.9527417  0.95670996 0.94895382]
  warnings.warn(
c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.95689033 0.96879509 0.98069986 0.96879509        nan 0.97276335
 0.95689033 0.96879509 0.9767316  0.9767316 ]
  warnings.warn(
c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.9724026  0.9724026  0.96843434 0.98033911 0.96879509        nan
 0.96464646 0.96464646        nan 0.96843434]
  warnings.warn(
c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.9724026         nan 0.96500722        nan 0.96500722        nan
        nan 0.97276335 0.96464646        nan]
  warnings.warn(

405 ms Â± 38.1 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter: {'max_depth': 5, 'criterion': 'entropy'}

c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [       nan 0.98827561        nan 0.9724026  0.96861472 0.9767316
 0.97637085 0.96482684        nan        nan]
  warnings.warn(

##### Grid Search

In [47]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedKFold

rkf = RepeatedKFold(n_splits=4, n_repeats=3)
dt = DecisionTreeClassifier()
params = {
    'criterion': ['gini', 'entropy', 'log_loss'],
    'max_depth': list(range(5,11)) 
}
grid = GridSearchCV(dt, param_grid=params, cv=rkf, n_jobs=-1)
%timeit grid.fit(X, y)

# Evaluasi dengan score
gs = grid.score(X,y)

print(f'Hasil evaluasi: {gs}')
print(f'Konfigurasi hyperparameter: {grid.best_params_}')

c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.9724026  0.95256133 0.95256133 0.96049784 0.96843434 0.96843434
 0.96446609 0.96843434 0.96049784 0.9724026  0.95652958 0.96843434
        nan        nan        nan        nan        nan        nan]
  warnings.warn(
c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.97276335 0.96176046 0.96121934 0.97276335 0.96139971 0.96897547
 0.95382395 0.96536797 0.95761183 0.96536797 0.96500722 0.9498557
        nan        nan        nan        nan        nan        nan]
  warnings.warn(
c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.94137807 0.95707071 0.93740981 0.94931457 0.9534632  0.93740981
 0.95725108 0.9534632  0.94931457 0.9455267  0.9455267  0.95310245
        nan        nan        nan        nan        nan        nan]
  warnings.warn(
c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.96464646 0.96103896 0.97258297 0.96085859 0.96067821 0.97655123
 0.94895382 0.95292208 0.95310245 0.9527417  0.96861472 0.95670996
        nan        nan        nan        nan        nan        nan]
  warnings.warn(
c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.97655123 0.96879509 0.98051948 0.96861472 0.97276335 0.9767316
 0.96879509 0.9767316  0.9767316  0.96482684 0.97655123 0.98051948
        nan        nan        nan        nan        nan        nan]
  warnings.warn(
c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.96879509 0.96085859 0.97276335 0.95328283 0.96085859 0.94931457
 0.95725108 0.95689033 0.96085859 0.95725108 0.95328283 0.96482684
        nan        nan        nan        nan        nan        nan]
  warnings.warn(
c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.97619048 0.97637085 0.98809524 0.97655123 0.96879509 0.96464646
 0.97258297 0.96861472 0.96482684 0.98015873 0.9724026  0.96464646
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

867 ms Â± 128 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter: {'criterion': 'gini', 'max_depth': 7}

c:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.94859307 0.94859307 0.95652958 0.94859307 0.94065657 0.94083694
 0.94462482 0.94859307 0.95256133 0.94877345 0.94877345 0.94877345
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

#### Kesimpulan tunning hyperparameter decision tree

##### Pada tunning hyperparameter random search dengan model klasifikasi decision tree menunjukkan nilai akurasi 1.0 dengan parameter criterion = entropy dan max_depth = . Sedangkan untuk grid search menunjukkan nilai akurasi 1.0 dengan parameter criterion = gini dan max depth = 7

#### Tunning Parameter mengunakan Random Forest
##### Random Search

In [51]:
import numpy as np
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestClassifier(random_state=35)

params = {'n_estimators': [200, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
    'criterion' :['gini', 'entropy']
}


random_rf = RandomizedSearchCV(rf, param_distributions=params, cv=5, n_jobs=-1)

%timeit random_rf.fit(X, y)

score_rf = random_rf.score(X,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter: {random_rf.best_params_}')

21.7 s Â± 3.07 s per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter: {'n_estimators': 200, 'max_features': 'auto', 'max_depth': 6, 'criterion': 'entropy'}

##### Grid Search

In [52]:

from sklearn.model_selection import GridSearchCV

grid_rf = GridSearchCV(rf, param_grid=params, cv=5, n_jobs=-1)

%timeit grid_rf.fit(X, y)

score_rf = grid_rf.score(X,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter: {grid_rf.best_params_}')

2min 4s Â± 13.9 s per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter: {'criterion': 'gini', 'max_depth': 6, 'max_features': 'auto', 'n_estimators': 200}

#### Kesimpulan tunning hyperparameter random forest

##### Pada tunning hyperparameter random search dengan model klasifikasi random forest menunjukkan nilai akurasi 1.0 dengan parameter n_estimators = 200, max_features: auto, max_depth: 6, criterion: 'entropy . Sedangkan untuk grid search menunjukkan nilai akurasi 1.0 dengan parameter criterion: gini, max_depth: 6, max_features: auto, n_estimators: 200